<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3"  />
    <add key="dotnet6" value="https://aka.ms/dotnet6/nuget/index.json" protocolVersion="3" />
  </packageSources>
</configuration>