[*.cs]

# Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = error

# String comparison preferences
dotnet_diagnostic.CA1307.severity = error
dotnet_diagnostic.CA1309.severity = error